<div class="container-fluid" >
  <footer role="contentinfo" class="d-flex justify-content-between py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">&copy; {{year}} Company, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook"></i></a></li>
    </ul>
  </footer>
</div>
