.container-fluid {
  padding: 40px;
  background-image: url("../../../assets/images/car3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
