<form [formGroup]="addUserForm" novalidate (ngSubmit)="register()">
  <div class="mb-3">
    <label for="name" class="form-label">User name</label>
    <input class="form-control" name="name" formControlName="name" placeholder="Name"
      [ngClass]="{'is-valid':addUserForm.controls['name'].valid, 'is-invalid':addUserForm.controls['name'].invalid && (addUserForm.controls['name'].dirty || addUserForm.controls['name'].touched)}" />
    <div class="invalid-feedback" *ngIf="addUserForm.controls['name'].invalid && addUserForm.controls['name'].touched">
      <div *ngIf="addUserForm.controls['name'].errors && addUserForm.controls['name'].errors['required']">
        Name not specified</div>
      <div *ngIf="addUserForm.controls['name'].errors && addUserForm.controls['name'].errors['minlength']">
        Name suposed to have at least 3 symbols.
      </div>
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email" formControlName="email"
      [ngClass]="{'is-valid':addUserForm.controls['email'].valid, 'is-invalid':addUserForm.controls['email'].invalid && (addUserForm.controls['email'].dirty || addUserForm.controls['email'].touched)}" />
    <div class="invalid-feedback"
      *ngIf="addUserForm.controls['email'].invalid && addUserForm.controls['email'].touched">
      <div *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].errors['required']">
        Email is not specified
      </div>
      <div *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].errors['email']">
        Email is not correct</div>
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="mb-3">
    <label for="pass" class="form-label">Password</label>
    <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" formControlName="pass"
      [ngClass]="{'is-valid':addUserForm.controls['pass'].valid, 'is-invalid':addUserForm.controls['pass'].invalid && (addUserForm.controls['pass'].dirty || addUserForm.controls['pass'].touched)}" />
    <div class="invalid-feedback" *ngIf="addUserForm.controls['pass'].invalid && addUserForm.controls['pass'].touched">
      <div *ngIf="addUserForm.controls['pass'].errors && addUserForm.controls['pass'].errors['required']">
        Password is not specified</div>
      <div *ngIf="addUserForm.controls['pass'].errors && addUserForm.controls['pass'].errors['minlength']">
        Password suposed to have not less then 4 symbols</div>
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="bb">
    <button (click)="register()" type="submit" class="btn btn-primary">Register</button>
  </div>
</form>
