<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="add-car-form">
        <h1>Update Car</h1>
        <form [formGroup]="addCarForm" novalidate (ngSubmit)="updateCar()">
          <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input formControlName="model" type="text" class="form-control" id="model" [(ngModel)]="car.model" >
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input formControlName="price" type="number" class="form-control" id="price" [(ngModel)]="car.price">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input formControlName="description" type="text" class="form-control" id="description" [(ngModel)]="car.description">
          </div>
          <div class="form-group">
            <label for="filedata">Image:</label>
            <input type="file" class="form-control" name="image" (change)="onFileSelected($event)" #fileUpload>
          </div><br />
          <div>
            <div class="float-start"><button type="submit" class="btn btn-secondary">Update</button>
            </div>
              <div class="float-end"><button type="button" (click)="back()" class="btn btn-success">Go Back</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

